<div id="hero" class="w-full h-[100vh] bg-[#333647] inline-block">
    <div class="mt-4 ml-3 text-xl font-semibold sm:hidden">
        <span class="text-[#F87C58] font-bold">Nur
        </span><span class="text-white">Faisal</span>
    </div>
    <div class="sm:mt-32 sm:mx-20 mt-10 mx-2  text-slate-200 flex flex-wrap ">
        <div class="w-full sm:w-1/2">

            Hello! <br>
            <span class="text-3xl font-bold">I'm Nur faisal</span> <br>
            <span class="text-2xl font-thin">
                Front end & Backend developer
            </span> <br>
            Perkenalkan nama saya Nur Faisal Berumur 21 tahun saya memiliki minat besar di dunia pemrograman lulusan smk
            rekayasa perangkat lunak, bahasa yang saya gunakan diantaranya Java, Ptyhon, Javascript, TypeScript dan saya
            juga menggunakan tool diantaranya Spring, Angular, Postgresql, dan saya juga pernah mengikuti bootcamp di PT
            barrans id

        </div>
        <div class="w-full sm:w-1/2 mt-10 sm:mt-0 flex justify-center items-center">
            <img [src]="'https://github.com/nurfaisall/portofolio/blob/main/src/assets/foto-profil.jpg'" alt="" srcset="" class="rounded-2xl sm:w-[300px] w-[200px]" />
        </div>
    </div>
</div>
