<div id="services" class="w-full h-[100vh] relative overflow-hidden">
    <div class="w-full h-[50vh] bg-[#282A39] absolute">
        <div class="sm:ml-[50vw] flex justify-center text-white mt-11 flex-col ">
            <h1 class="font-bold text-3xl mb-5 text-center">Fresh Software developer</h1>
            <p>Sebelumnya saya memiliki pengalaman kerja di bidang Retail dan industri pabrik selama 1 tahun</p>
            <br>
            <span class="font-bold text-[#F87C58]">
                PT Leuwijaya Utama Textile
            </span>
            Juni 2023 - Sekarang
            <span class="font-bold text-[#F87C58]">
                JSM MartGroup
            </span>
            Februari 2022 - Oktober 2022

            <br>

        </div>

    </div>
    <div class="w-full h-[50vh] bg-[#333647] absolute top-[50%] flex">
        <div class="w-1/2 h-2"> w</div>
        <div class="w-full sm:w-96 justify-evenly flex flex-wrap items-stretch">
            <div
                class="p-4 w-36 sm:w-40 h-36 hover:bg-[#d66749] bg-[#F87C58] text-white hover:scale-125 transition-all delay-200 cursor-pointer">
                <h2 class="text-xl">Website design</h2>
                <p class="mt-4">Lorem ipsum</p>
            </div>
            <div
                class="p-4 w-36 sm:w-40 h-36 hover:bg-[#d66749] bg-[#F87C58] text-white hover:scale-125 transition-all delay-200 cursor-pointer">
                <h2 class="text-xl">Website design</h2>
                <p class="mt-4">Lorem ipsum</p>
            </div>
            <div
                class="p-4 w-36 sm:w-40 h-36 hover:bg-[#d66749] bg-[#F87C58] text-white hover:scale-125 transition-all delay-200 cursor-pointer">
                <h2 class="text-xl">Website design</h2>
                <p class="mt-4">Lorem ipsum</p>
            </div>
            <div
                class="p-4 w-36 sm:w-40 h-36 hover:bg-[#d66749] bg-[#F87C58] text-white hover:scale-125 transition-all delay-200 cursor-pointer">
                <h2 class="text-xl">Website design</h2>
                <p class="mt-4">Lorem ipsum</p>
            </div>
        </div>


    </div>
</div>